.cab{
    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    max-width: 1000px;
    margin: 2em auto;
}

h1{
    text-align: center; 

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/TALLER2/fondo.jpg) ;
    background-size: cover;
      
}

.contenedor {
    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    max-width: 1000px;
    margin: 2em auto; 
    display: grid;
    gap: 2em;
    grid-template-columns: 600px 250px ;
    padding: 10px;
}

.contenedor .subcont{ 
    
    display: flex;
    justify-content: center;

    
}

.foto {
    border-radius: 50%;
    border: 1px solid var(--gris-oscuro);
    box-shadow: 8px 16px 32px 0px var(--shadow);
    height: 200px;
    margin-top: 20px;
    width: 200px;

}
.datos_personales{
    line-height: 50% 
}

.datos_personales h4{
    display: inline-block;
    width: 200px;
}

  .contenedor2 {
    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    width: 90%;
    max-width: 1000px;
    margin: 2em auto; 
    padding: 10px;
    
}
  
.contenedor2 h4{
    display: inline-block;
    width: 200px;
}

.contenedor3 {
    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    width: 90%;
    max-width: 1000px;
    margin: 2em auto; 
    padding: 10px;
    
}

.contenedor4 {
    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    width: 90%;
    max-width: 1000px;
    margin: 2em auto; 
    padding: 10px;
    
}

.contenedor5 {
    background: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 5px 10px 30px #205de0;
    width: 90%;
    max-width: 1000px;
    margin: 2em auto; 
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3] 1fr [y4] 1fr [y5];
    padding: 10px;  
}

.contenedor5 h2{
  grid-column: x0 / x4;
}
.contenedor5 div{
    text-align: center; 
}
.titulo{
   
    line-height: 100%
}